.customer_list {
  border: 2px solid grey;
  margin: 25px auto;
  width: 95%;
  min-width: 400px;
  overflow: scroll;
  padding-bottom: 10px;
  text-align: center;
  z-index: 0;

  .heading {
    border-bottom: 2px solid black;
    margin: 0;
    vertical-align: middle;
  }

  .entry_headers {
    margin: 2px 0;
    .actions {
      text-decoration: underline;
    }

    .email {
      text-decoration: underline;
    }

    .name {
      text-decoration: underline;
    }
  }

  .customer_entry {
    background-color: rgb(212, 212, 212);
    margin: 2px 0;

    .edit {
      cursor: pointer;
    }

    .email {
      font-weight: 600;
      font-variant: small-caps;
    }

    .delete {
      cursor: pointer;
    }

    .name {
      font-weight: 600;
      font-variant: small-caps;
    }
  }

  .empty {
    color: rgb(202, 202, 202);
  }
}
