.new_customer_form {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
  z-index: 50;

  form {
    background: white;
    border: 1px solid black;
    border-radius: 50px;
    box-shadow: 10px 10px 5px black;
    max-width: 600px;
    min-width: 400px;
    margin: 0 auto;
    margin-top: 200px;
    padding: 2em;
    text-align: center;
    z-index: 500;
  }

  label {
    display: block;
    font-family: Merriweather;
  }

  input {
    width: 100%;
  }

  .heading {
    margin-bottom: 1em;
    text-align: center;
    text-shadow: 3px 3px 1px rgb(176,176,176);

  }

  .clear {
    font-size: 1.2em;
    text-align: right;

    a {
      cursor: pointer;
    }
  }

  .add_customer_button {
    display: block;
    width: 200px;
    margin: 5px auto;
  }

  .close_x {
    cursor: pointer;
  }
}
